.input-password {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
}

/* texto.component.css, email.component.css, password.component.css */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #6200ea;
    /* Color del borde al enfocar */
}

/* Modo oscuro */
body.dark-mode input {
    background-color: #333;
    /* Fondo oscuro para inputs */
    color: white;
    /* Texto blanco */
    border: 1px solid #555;
    /* Borde más claro */
}

body.dark-mode input:focus {
    border-color: #bb86fc;
    /* Color del borde al enfocar en modo oscuro */
}