.input-password {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
}

/* Estilos para el componente Password */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 8px;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: #ffffff;
    /* Fondo claro por defecto */
    color: #333;
    /* Texto oscuro */
    font-size: 16px;
}

/* Modo oscuro */
body.dark-mode input {
    background-color: #333;
    /* Fondo más oscuro para inputs */
    border: 1px solid #555;
    /* Borde más claro */
    color: #e0e0e0;
    /* Texto claro */
}

/* Estilo de enfoque */
input:focus {
    border-color: #bb86fc;
    /* Color del borde al enfocar */
}

/* Modo oscuro para el enfoque */
body.dark-mode input:focus {
    border-color: #bb86fc;
    /* Color del borde al enfocar en modo oscuro */
}