button {
    background-color: #FFD700; /* Dorado suave */
    color: white; /* Color del texto */
    font-size: 16px;
  }
  
  button:hover {
    background-color: #FFC0CB; /* Cambiar a rosado suave al pasar el mouse */
  }