/* Estilos para el botón cancelar */
button {
  background-color: #f44336;
  /* Color de fondo del botón cancelar */
  color: white;
  /* Color del texto */
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra */
}

/* Efecto hover */
button:hover {
  background-color: #c62828;
  /* Color al pasar el mouse */
  transform: scale(1.05);
  /* Efecto de escala al pasar el mouse */
}

/* Modo oscuro para el botón cancelar */
body.dark-mode button {
  background-color: #f44336;
  /* Color de fondo del botón en modo oscuro */
  color: #121212;
  /* Texto oscuro para contraste */
}

body.dark-mode button:hover {
  background-color: #c62828;
  /* Color al pasar el mouse en modo oscuro */
}