/* Estilos para el bot贸n primario */
button {
    background-color: #6200ea;
    /* Color de fondo del bot贸n */
    color: white;
    /* Color del texto */
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

/* Efecto hover */
button:hover {
    background-color: #3700b3;
    /* Color al pasar el mouse */
    transform: scale(1.05);
    /* Efecto de escala al pasar el mouse */
}

/* Modo oscuro para el bot贸n primario */
body.dark-mode button {
    background-color: #bb86fc;
    /* Color de fondo del bot贸n en modo oscuro */
    color: #121212;
    /* Texto oscuro para contraste */
}

body.dark-mode button:hover {
    background-color: #6200ea;
    /* Color al pasar el mouse en modo oscuro */
}