/* Estilos para el componente principal de la aplicación */
h1 {
    color: #6200ea;
    /* Color del título */
    text-align: center;
    /* Centrar el título */
    margin-bottom: 20px;
    /* Espaciado inferior */
}

/* Modo oscuro para el título */
body.dark-mode h1 {
    color: #bb86fc;
    /* Color del título en modo oscuro */
}

/* Contenedor principal */
.main-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    /* Fondo claro por defecto */
}

/* Modo oscuro para el contenedor principal */
body.dark-mode .main-container {
    background-color: #1e1e1e;
    /* Fondo oscuro en modo oscuro */
}