.main-container {
    display: flex;
    /* Usar flexbox para alinear los componentes */
    justify-content: space-between;
    /* Espacio entre los componentes */
    align-items: flex-start;
    /* Alinear los componentes en la parte superior */
    padding: 40px;
    /* Espaciado alrededor del contenedor principal */
    max-width: 1200px;
    /* Ancho máximo para mantener la simetría */
    margin: 0 auto;
    /* Centrar el contenedor en la página */
    background-color: #FDF6E3;
    /* Fondo suave claro */
    border-radius: 15px;
    /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    transition: background-color 0.3s;
    /* Transición suave para el fondo */
}

.main-container:hover {
    background-color: #FCE4EC;
    /* Cambio de color al pasar el mouse */
}