<!-- src/app/Components/sumativavisual/sumativavisual.component.html -->
<div [style.backgroundColor]="colorChange ? 'lightblue' : 'white'">
    <h1>Sumativa Visual</h1>

    <form>
        <label>
            Email:
            <input type="email" [(ngModel)]="email" name="email" required />
        </label>
        <br />
        <label>
            Contraseña:
            <input type="password" [(ngModel)]="password" name="password" required />
        </label>
        <br />
        <label>
            Texto:
            <input type="text" [(ngModel)]="texto" name="text" />
        </label>
        <br />

    </form>

    <!-- Cuadro de texto para el mensaje de éxito -->
    <div *ngIf="showMessage" class="success-message">
        <strong>{{ successMessage }}</strong>
    </div>

</div>



<app-btnprimario (buttonClick)="onColorButtonClick()"></app-btnprimario>
<app-btnsecundario (moveEvent)="onMoveButtonClick()"></app-btnsecundario>
<app-btnaceptar (acceptClick)="onAccept()"></app-btnaceptar>

<app-view [colorChange]="colorChange" [move]="move" [email]="email" [password]="password" [text]="texto"
    [successMessage]="successMessage"></app-view>