.color-box {
    width: 50px;
    height: 50px;
    background-color: magenta;
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    /* Espaciado superior e inferior */
    transition: background-color 0.5s, transform 0.5s;
    /* Añade la transición para el movimiento y el color */
}




.view-container {
    flex: 1;
    /* Ocupa el espacio disponible */
    margin-right: 40px;
    /* Espacio entre los componentes */
    background-color: #F8BBD0;
    /* Rosa suave */
    border-radius: 15px;
    /* Bordes redondeados */
    padding: 30px;
    /* Espaciado interno aumentado */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    transition: transform 0.3s;
    /* Transición suave para el efecto de hover */
}

.view-container:hover {
    transform: scale(1.02);
    /* Efecto de aumento al pasar el mouse */
}





.success-message {
    border: 2px solid green;
    /* Borde verde */
    padding: 10px;
    /* Espaciado interno */
    margin-top: 10px;
    /* Margen superior */
    background-color: #e6ffe6;
    /* Color de fondo suave */
    border-radius: 5px;
    /* Bordes redondeados */
    color: green;
    /* Color del texto */
    font-weight: bold;
    /* Texto en negrita */
}

:host {
    display: block;
    background-color: #F8BBD0;
    /* Rosa suave */
    border-radius: 15px;
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
    /* Limitar el ancho para mantener la simetría */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Centrar el texto */
}

h2 {
    color: #C2185B;
    /* Rosa oscuro */
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    margin-bottom: 15px;
}

p {
    color: #424242;
    /* Texto gris oscuro */
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: #6A1B9A;
    /* Color púrpura oscuro para los títulos */
    margin-bottom: 20px;
    /* Espaciado inferior para los títulos */
    font-family: 'Arial', sans-serif;
    /* Fuente moderna */
}

p {
    color: #333;
    /* Color de texto gris oscuro */
    line-height: 1.6;
    /* Espaciado entre líneas */
    margin-bottom: 15px;
    /* Espaciado inferior para los párrafos */
    font-family: 'Arial', sans-serif;
    /* Fuente moderna */
}

.dark-mode {
    background-color: black;
    color: white;
}