<!-- src/app/Visualizar/view/view.component.html -->
<!-- src/app/Visualizar/view/view.component.html -->
<div>
    <h2>Datos Ingresados</h2>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Contraseña:</strong> {{ password }}</p>
    <p><strong>Texto:</strong> {{ text }}</p>

    <!-- Muestra el mensaje de éxito directamente en el componente View -->
    <div *ngIf="successMessage" class="success-message">
        <strong>{{ successMessage }}</strong>
    </div>
    
</div>

<div class="color-box" [style.background-color]="color" [style.transform]="'translateX(' + position + 'px)'"> </div>