.color-box {
    width: 50px;
    height: 50px;
    background-color: magenta;
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    /* Espaciado superior e inferior */
    transition: background-color 0.5s, transform 0.5s;
    /* Añade la transición para el movimiento y el color */
}

:host {
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: #E6E6FA;
    /* Lila claro */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-container {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 0.5rem;
}

p {
    margin: 0.5rem 0;
}

.success-message {
    border: 2px solid green;
    /* Borde verde */
    padding: 10px;
    /* Espaciado interno */
    margin-top: 10px;
    /* Margen superior */
    background-color: #e6ffe6;
    /* Color de fondo suave */
    border-radius: 5px;
    /* Bordes redondeados */
    color: green;
    /* Color del texto */
    font-weight: bold;
    /* Texto en negrita */
}