.color-box {
    width: 100px;
    height: 100px;
    transition: background-color 0.5s, transform 0.5s;
    /* Añade la transición para el movimiento y el color */
}

:host {
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: #E6E6FA;
    /* Lila claro */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-container {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 0.5rem;
}

p {
    margin: 0.5rem 0;
}